* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 

    /* CSS Variables */
    --primary-color: #333;
    --white : #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

#itemGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 0;
}

#itemGrid li {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.topnav {
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    background: #333;
    color: var(--white);
    font-size: 1.2rem;
}

.topnav a {
    float: left;
    display: flex;
    flex-direction: row;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.cookie-bite {
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 10px;
}

.recipe-app {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 50px;
}
.recipe-app h1 {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#searchRecipeBtn {
    width: 53.42858px;
}

#resetBtn {
    width: 53.42858px;
}

#itemGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#itemGrid li {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#itemGrid li:hover {
    cursor: pointer;
}
 
ul #recipesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 0;
    max-width: 300px;
}

#addRecipeBtn {
    width: 103.42858px;
}

.my-pantry {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 1.5rem;
    margin: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 60px;
}

#itemInput {
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.recipes {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 1.5rem;
    margin: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 60px;
 
}

#recipeInput {
    padding-left: 10px;
    padding-right: 10px;
}

.meal-plan {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 1.5rem;
    margin: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 60px;
 
}

.second-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}